body {
    background-image: url(wood_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    min-height: 100vh;
    
    flex-direction: column;
}
/* ======================================================================================== */
/* Top Navigation Bar Components                                                            */
/* ======================================================================================== */

div.topnav {
    text-align: center;
    font-size: 40px;
    padding: 14px 16px;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    color: inherit;
}
.topnav a:hover {
    background-color: saddlebrown;
    color: black;
    border-style: inset;
    border-color: black;
    text-decoration: none;
}
a {
    color: black;
    border-style: outset;
    border-color: saddlebrown;
    text-decoration: none;
}
/* Only the TopNav Header is h1.main */
h1.main{
    font-size: 30px;
}

/* ======================================================================================== */
/* Elements for all regular text blocks on Home, Methodology, Analysis, and Conclusion */
/* ======================================================================================== */

/* This parent container is for columns of flex children */
div.parent_container1{
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}

/* This parent container is for evenly spaced rows of flex children */
div.parent_container2{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    
}

/* Image sizing, compensated to balance padding found in other containers */
.imgFill {
  width: 100%;    
}

/* Regular containers will be text blocks */
div.container {
    background-color: rgb(238, 236, 197);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    width:70%;     
}
/* Container only for SVG Bargraphs */
div.container2 {
    background-color: rgb(238, 236, 197);
    font-family: Garamond, serif;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 35%;
} 


div.container_table{
    background-color: rgb(238, 236, 197);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    width:70%;     
}

/* Altered version of sidebar - serves as key for both Bargraphs */
div.key{
    background-color: rgb(238, 236, 197);
    font-family: Garamond, serif;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    font-size:14px;
    width: 10%;
}
/* Different colors needed for the emote graph key.  Factor colors will stay same as reading view. */
li.bar_pos{
   color:#3CB371;
    text-align: left;
}

li.bar_neu{
   color: #FFD700; 
   text-align: left;
}

li.bar_neg{
    color:#FF6347;  
    text-align: left;
}

/* Other child elements: headings, paragraphs, lists, and images */
h1.content {
    font-size: 25px;
    text-align: left;
}

h2.content{
    font-size: 20px;
    text-align: left;
}

p.content{
    font-size: 16px;
    text-align: left;
    text-indent: 0px;
    margin: 30px;
    color: black;
    line-height: 25px;
}

ul.content{
    font-size: 16px;
    text-align: left;
    text-indent: 0px;
    padding: 30px;
}

li.con{
    list-style-type: square;
    font-size: 16px;
    text-align: left;
    margin: 5px;
}

/* ======================================================================================== */
/* Elements for Letters page (reading view) only */
/* ======================================================================================== */

/* This parent container is for the entire reading view page (row), and will hold two other parent containers inside (columns) */
div.parent_container3 {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    width: 100%;
}

/* This parent container is for the div sidebar and photo(s) on the left side of parent container 3 (column) */
div.parent_container4 {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
}

/* This parent container is for the letters (column) which are div.special_containers */
div.parent_container5{
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    width: 60%;
}

img.sidebar{
    display: flex;
    width: 80%;
    margin: 30px;
    
}
div.sidebar{
    /*  display: flex;*/
    background-color: rgb(238, 236, 197);
    margin:30px;
    padding: 30px;
    font-size:14px;
    width: 30%;
    
}
/* List items only for div.sidebar (navigation key) */
ul.sidebar{
    font-size: 16px;
    text-align: left;
    text-indent: 0px; 
    padding-left: 15px;
}

h1.sidebar{
    font-size: 20px;
    text-align: left;
}
li.positive{
    text-decoration: underline;
    text-align: left;
}
li.negative{
    font-weight: bold;
    text-align: left;
}
li.neutral{
    font-style: italic;
    text-align: left;
}
li.trauma{
    color: red;
    text-align: left;
}
li.battle{
    color: saddleBrown;
    text-align: left;
}

li.prep{
    color: darkBlue;
    text-align: left;
}
li.conditions{
    color: DarkOliveGreen;
    text-align: left;
}
li.sense{
    color: DarkGoldenrod;
    text-align: left;
}

/*"Special Container" is the div/text box which holds an individual letter*/
div.special_container {
    display:flex;
    background-color: rgb(238, 236, 197);
    margin-top: 20px;
    margin-right: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px; 
    width: 75%;
}
/* =========================================================================== */
/* This is the css template for the letter inline elements                     */
/* =========================================================================== */
h1 {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

h2 {
    text-align: left;
    font-size: 14px;
}

p,
footer.letter {
    text-indent: 50px;
    text-align: left;
    font-family: "Courier", serif;
    font-size: 14px
}

span.positive {
    text-decoration-line: underline;
}

span.neutral {
    font-style: italic;
}

span.negative {
    font-weight: bold;
}

span.battle {
    color: SaddleBrown;
}

span.trauma {
    color: Red;
}

span.prep {
    color: DarkBlue;
}

span.conditions {
    color: DarkOliveGreen;
}

span.sense {
    color: DarkGoldenrod;
}
/* ====================================================================================================================================== */
/* Reading View Dropdown Tabs - Letters by Year                                                                                           */
/* This code below was based heavily on the tutotial on dropdown tabs found at this link: https://www.w3schools.com/css/css_dropdowns.asp */
/* ====================================================================================================================================== */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: -8px;
    margin-right: -8px;
    overflow: hidden;
    text-align: left;
}
ul.letters {
    background-color: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: -8px;
    margin-right: -8px;
    overflow: hidden;
    text-align: left;
}
li {
    text-align: center;
}

li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: green;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: olive;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/* End of the code used in the tutorial for dropdowns */

/* ====================================================================================================================================== */
/* Bottom bar // footer for website                                                                                                       */
/* ====================================================================================================================================== */
div.head {
    background-color: olive;
    color: black;
    margin-bottom: auto;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    text-align: center;
    padding: 1px;
}

footer.main {
    background-color: olive;
    margin-top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
}