body {
    background-image: url(https://get.pxhere.com/photo/desk-wood-floor-hardwood-wallpaper-flooring-wood-flooring-laminate-flooring-wood-stain-desktop-picture-1187816.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}
div.topnav {
    text-align: center;
    font-size: 40px;
    padding: 14px 16px;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    color: inherit;
}
.topnav a:hover {
    background-color: saddlebrown;
    color: black;
    border-style: inset;
    border-color: black;
    text-decoration: none;
}
a{
    color: black;
    border-style: outset;
    border-color: saddlebrown;
    text-decoration: none;
}

h1 {
    text-align: center;
}
div.container {
    background-color: rgb(250, 227, 152);
    line-height: 25px;
}
div.sidebar{
    float: left;
    background-color: grey;
    margin-top: 10px;
}
div.special_container {
    background-color: rgb(250, 227, 152);
    float: right;
    margin-top: 10px;
    width: 1250px;  
}
/* This code below was based heavily on the tutotial on dropdown tabs found at this link: https://www.w3schools.com/css/css_dropdowns.asp */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: -8px;
  margin-right: -8px;
  overflow: hidden;
  background-color: Black;
  text-align: left;
}
li {
  text-align: center;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: green;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: olive;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
/* End of the code used in the tutorial for dropdowns */
div.head {
    background-color: olive;
    color: black;
    margin-bottom: auto;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    text-align: center;
    padding: 1px;
}
footer {
    background-color: olive;
    margin-bottom: -8px;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
    padding: 10px;

}